
#Ignorar todo menos gitignore y proyecto
* 
!Proyecto_CLuciana/

../Baez-Debora-Jazmin.zip
../BaezJazmin_Proyecto2023/
../TALLER I.txt
../applications.html
../bitnami.css
../dashboard/
../favicon.ico
../index.php
../miproyecto (1).rar
../miproyecto/
../tp-maxigim.rar
../tp-maxigim/
../viejo/
../xampp/
