../Baez-Debora-Jazmin.zip
        ../BaezJazmin_Proyecto2023/
        .gitignore
        .vs/
        writable/debugbar/debugbar_1708353000.431646.json
        writable/debugbar/debugbar_1708353032.662167.json
        writable/debugbar/debugbar_1708353036.371125.json
        writable/debugbar/debugbar_1708353037.851265.json
        writable/debugbar/debugbar_1708353106.818186.json
        writable/debugbar/debugbar_1708353116.722895.json
        writable/debugbar/debugbar_1708353127.369322.json
        writable/debugbar/debugbar_1708353134.224403.json
        writable/debugbar/debugbar_1708353134.340342.json
        writable/debugbar/debugbar_1708353140.823694.json
        writable/debugbar/debugbar_1708353146.035098.json
        writable/debugbar/debugbar_1708353146.155636.json
        writable/debugbar/debugbar_1708353154.639303.json
        writable/debugbar/debugbar_1708353360.923297.json
        writable/debugbar/debugbar_1708353362.308428.json
        writable/debugbar/debugbar_1708353438.629459.json
        writable/debugbar/debugbar_1708387058.175370.json
        writable/debugbar/debugbar_1708387108.094624.json
        writable/debugbar/debugbar_1708387110.813701.json
        writable/debugbar/debugbar_1708387110.934019.json
        writable/logs/log-2024-02-19.log
        writable/session/ci_session4lr5ndv98lkv683gkmscqt1rd5a0q4up
        writable/session/ci_sessionu6gko46s746chkh91cmv7a9kv4rlidvm
        writable/session/ci_sessionvinh9h693rf74jtfomfoi0cb3jog0s59
        ../TALLER I.txt
        ../applications.html
        ../bitnami.css
        ../dashboard/
        ../favicon.ico
        ../index.php
        ../miproyecto (1).rar
        ../miproyecto/
        ../tp-maxigim.rar
        ../tp-maxigim/
        ../viejo/
        ../xampp/