
/* Home */
body {
    background-color: white;
  }

  h1, h2, h3 {
    margin-top: 80px;
  }

  .line {
    border-bottom: 5px solid black;
    margin: 10px 0;
  }

  #carouselExampleCaptions {
    margin-left: 50px;
    width: 100%;
    max-width: 100%;
  }

  .carousel-item img {
    max-width: 100%;
    height: auto;
  }

  /* responsive styles */
  @media screen and (max-width: 768px) {
    #carouselExampleCaptions {
      margin-left: 0;
      width: 100%;
      max-width: 100%;
    }
  }